# dependencies
node_modules
.pnp
.pnp.js

# builds
dist
build
out
.next
.turbo

# testing
coverage

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editors / os
.DS_Store
*.pem
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
